.navbar-default.sidebar{role: :navigation}
  .sidebar-nav.navbar-collapse
    %ul#side-menu.nav
      - if current_user.signed_in?
        %li
          = link_to dashboard_path do
            .material-icons
              dashboard
            Dashboard
        %li
          = link_to resources_all_path('users') do
            .material-icons
              person
            Users
        %li
          = link_to resources_all_path('teams') do
            .material-icons
              people
            Teams
        %li
          = link_to resources_all_path('events') do
            .material-icons
              subscriptions
            Events
        %li
          = link_to resources_all_path('checks') do
            .material-icons
              done
            Checks
        %li
          = link_to resources_all_path('alerts') do
            .material-icons
              alarm
            Alerts


      - else
        %li
          = link_to login_path do
            %i.fa.fa-dashboard.fa-fw
            .material-icons
              lock_open
            Login
