= simple_form_for @resource, url: (@resource_json.blank? ? resources_create_path : resources_update_path) do |f|
  - unless @json_errors.blank?
    .alert.alert-danger
      - @json_errors.each do |key, msg|
        = "#{key.to_s.titleize} #{msg.join(",")}"
        %br
  - unless @resource_json.blank?
    = f.input :id, as: :hidden, input_html: { value: @resource_json["id"] }
  - @form_structure.each do |key, value|
    - params_value = (params[@resource.to_sym].blank? ? nil : (params[@resource.to_sym][key.to_sym].blank? ? (@resource_json.blank? ? nil : @resource_json[key]) : params[@resource.to_sym][key.to_sym]))
    - if value.to_s == "boolean"
      = f.input key, as: :hidden, input_html: { value: false }
      = f.input key, as: value, input_html: { value: true, checked: (@resource_json.blank? ? (params_value.to_i == 1) : @resource_json[key]) }
    - elsif value.class.name == "Hash"
      - if key == "sourcetype"
        .row
          - value.keys.each do |v_key|
            = link_to "#", class: "btn-box rounded-3 " + ((@resource_json.blank? ? params_value : @resource_json[key]) == v_key ? "is-active" : ""), data: {select_value: v_key, target: "#datasources_sourcetype"} do 
              .btn-image.page-icon{class: "page-#{v_key}"}  
              .btn-title
                = v_key.titleize
          = f.input key, collection: value.keys, selected: (@resource_json.blank? ? params_value : @resource_json[key]), input_html: {class: "hidden"}, label: false
      - else
        = f.input key, collection: value.keys, selected: (@resource_json.blank? ? params_value : @resource_json[key]) 
    - else
      = f.input key, as: value, input_html: { value: (@resource_json.blank? ? params_value : @resource_json[key]) }
  .row
    .col-lg-1
      = f.button :submit, "Save #{@resource.to_s.singularize.titleize}"
    .col-lg-10
    .col-lg-1
      = f.button :button, "Reset Form", type: :reset
