= simple_form_for @resource, url: (@resource_json.blank? ? resources_create_path : resources_update_path) do |f|
  - unless @json_errors.blank?
    .alert.alert-danger
      - @json_errors.each do |key, msg|
        = "#{key.to_s.titleize} #{msg.join(",")}"
        %br
  - unless @resource_json.blank?
    = f.input :id, as: :hidden, input_html: { value: @resource_json["id"] }
  - @form_structure.each do |key, value|
    - params_value = (params[@resource.to_sym].blank? ? nil : (params[@resource.to_sym][key.to_sym].blank? ? nil : params[@resource.to_sym][key.to_sym]))
    - if value.to_s == "boolean"
      = f.input key, as: :hidden, input_html: { value: false }
    = f.input key, as: value, input_html: { value: (@resource_json.blank? ? params_value : @resource_json[key]) }
  = f.submit "Save #{@resource.to_s.singularize.titleize}",class: "btn"
