.row
  = simple_form_for :query, method: :get do |f|
    .col-lg-6
      - if @resource == "events"
        .col-lg-5
          = f.input :age, as: :integer, input_html: { value: @query_age }
        .col-lg-5
          = f.input :duration, as: :integer, input_html: { value: @query_duration }
        .col-lg-2
          %br/
          = f.button :button, class: "btn" do
            .material-icons
              search
    .col-lg-4
    .col-lg-2
      %br
      = f.input :without_deleted_entries, as: :boolean, label: "Show without deleted #{@resource}", input_html: { checked: @without_deleted_entries}
- unless @resources.blank?
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          - @resources.first.keys.each do |key|
            %th
              = key.titleize
          %th
      %tbody
        - @resources.each do |resource|
          %tr
            - resource.keys.each do |key|
              - resource_class = resource[key].class
              %td
                = try_to_convert_resouce(key, resource[key])
            %td
              = link_to resources_edit_path(@resource, resource["id"]) do
                .material-icons
                  edit
              = link_to resources_confirm_destroy_path(@resource, resource["id"]) do
                .material-icons
                  delete
= link_to resources_new_path do
  %button.btn
    = "New #{@resource.to_s.singularize.titleize}"
