- unless @resources.blank?
  .table-responsive
    %table.table.table-striped.table-bordered.table-hover
      %thead
        %tr
          - @resources.first.keys.each do |key|
            %th
              = key.titleize
          %th
      %tbody
        - @resources.each do |resource|
          %tr
            - resource.keys.each do |key|
              - resource_class = resource[key].class
              %td
                = try_to_convert_to_date(resource[key])
            %td
              = link_to resources_edit_path(@resource, resource["id"]) do
                .material-icons
                  edit
              = link_to resources_confirm_destroy_path(@resource, resource["id"]) do
                .material-icons
                  delete
= link_to "New #{@resource.to_s.singularize.titleize}", resources_new_path, class: "btn"
