!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CafmalWeb
    = csrf_meta_tags
    = stylesheet_link_tag   'https://fonts.googleapis.com/icon?family=Material+Icons|Roboto+Mono','application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navbar.navbar-default.no-margin
      .navbar-header.fixed-brand
        %button#menu-toggle.navbar-toggle.collapsed{"data-toggle" => "collapse", :type => "button"}
          %span.glyphicon.glyphicon-th-large{"aria-hidden" => "true"}
        = link_to "/", class: "navbar-brand" do
          Cafmal-Web
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        %ul.nav.navbar-nav.navbar-right
          %li
            = link_to "#" do
              = "#{current_user.email} (#{current_user.firstname} #{current_user.lastname})"
          %li.dropdown
            = link_to "#", class: "dropdown-toggle", data: {toggle: :dropdown} do
              .material-icons
                more_vert
            %ul.dropdown-menu.dropdown-user
              - if current_user.signed_in?
                %li
                  = link_to settings_path do
                    .material-icons
                      settings
                    Settings
                %li
                  = link_to logout_path, method: :delete do
                    .material-icons
                      power_settings_new
                    Logout
              %li
                = link_to '#' do
                  .material-icons
                    info
                  About
    #wrapper
      #sidebar-wrapper
        = render partial: "shared/sidebar"
      #page-content-wrapper
        .container-fluid.xyz
          .row
            .col-lg-12
              - unless @title.nil?
                %h1.page-header
                  = @title
              = render partial: "shared/flashes"
              = yield
